<!DOCTYPE html>
<html>
    <head>
        <title>Search Results Page  </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form action="/movies">
            <button type="submit">Back to Meny</button>
          </form>

        <h1>Search Results Page</h1>

        <table border="1">
            <tr>
                <th>Movies details</th>
            </tr>
            <!-- <% dataJson.forEach(function(movie) {%>
                <tr>
                   <td><a href="/movies/movieDataPageById/<%= movie.id %>"><%= movie.Name %></a></td> 
                </tr>
            <% }) %> -->
             <% dataAPI.forEach(function(movie) {%>
                <tr>
                   <td><a href="/movies/movieDataPageById/<%= movie.id %>"><%= movie.name %></a></td> 
                </tr>
            <% }) %> 
        </table>

        <table border="1">
            <tr>
                <th>All movies from the same genres</th>
            </tr>
            <!-- <% dataJsonGenres.forEach(function(elem) {%>
                <tr>
                    <td><a href="/movies/movieDataPageById/<%= elem.id %>"+ elem.id><%= elem.Name %></a></td> 
                </tr>
            <% }) %> -->
            <% DataAPIGenres.forEach(function(elem) {%>
                <tr>
                    <td><a href="/movies/movieDataPageById/<%= elem.id %>" ><%= elem.name %></a></td> 
                </tr>
            <% }) %> -->
        </table>

    </body>
</html>